#contactable #contactable_inner {
	overflow: hidden;
	position: absolute;
	z-index: 43;
	top: 402px;
	right: 0;
	height: 130px;
	width: 160px;
	text-indent: -100000px;
	background-image: url(../images/kaktus-contact.png);
	color: #FFFFFF;
	cursor: pointer;
}

#contactable #contactForm {
	overflow: hidden;
	position: absolute;
	z-index: 42;
	top: 100px;
	right: 0;
	height: 371px;
	width: 403px;
	margin-right: -553px;
	padding-left: 150px;
	background: url(../images/contact-bg.png) no-repeat top left;
	color: #33cc66;
}

	#contactable label {
		display: block;
		float: left;
		clear: none;
		width: 70px;
		*margin-left: 20px;
	}

	#contactable  input, textarea {
		float: left;
		clear: none;
		width: 265px;
		padding: 2px 5px;
		margin-bottom: 10px;
		background: #469b5a;
		outline-style: none;
		outline-width: medium;
		border: 1px solid #469b5a;
		font-family: georgia;
	}

	#contactable textarea {
		overflow: auto;
		height: 70px;
	}

	#contactable .submit {
		float: left;
		width: 125px;
		padding: 5px;
		margin-top: 5px;
		margin-left: 70px;
		background: #23442f;
		color: #2fbd5b;
		outline-style: none;
		outline-width: medium;
		font-size: 1em;
		cursor: pointer;
	}

	#contactable p {
		width: 300px;
		font-size: 0.9em;
	}

	#contactable .disclaimer {
		margin-bottom: 20px;
	}

	#contactable .red {
		color: #41cb54;
	}

	#contactable #loading {
		display: none;
		width: 55px;
		height: 55px;
		margin: 100px auto;
		/*background: url(../images/ajax-loader.gif) no-repeat;*/
	}

	#contactable img {
		clear: none;
    float: left;
	}

.messages {
	position: absolute;
	top: 20px;
	left: 20px;
	text-align: right;
}

#contactable .input-kod {
	clear: none;
	float: left;
	height: 30px;
	margin-left: 12px;
	width: 85px;
}

.message_error { color: #d22e0c; max-width: 120px; }
.send .message_error { color: #3C6; font-size: 20px; }
#contactable #name.error, #contactable #msg.error, #contactable #kod.error, #contactable #email.error { border: 1px solid #d22e0c; }



#contactable .holder {
	margin: 0 auto;
	*margin-left: 20px;
	padding-top: 20px;
}