#menu-img-content, #fp_gallery {
	display: none;
}

.ie-block {
	display: block;
}

.ie-block.overlay {
	position: absolute;
	z-index: 40;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=70);
}

.ie_content {
	position: relative;
	top: 100px;
	width: 500px;
	height: 400px;
	margin: 0 auto;
	color: #33cc66;
	line-height: 25px;
	font-size: 18px;
}

.ie_exit {
	position: absolute;
	z-index: 42;
	top: 10px;
	right: 20px;
	width: 77px;
	height: 70px;
	background: url(../images/navigate.png) no-repeat 0 -140px;
}

#menu-img  .ie-block {
	padding: 20px;	
	text-align: center;
	color: #33cc66;
	line-height: 20px;
	font-size: 12px;
}

	#menu-img  .ie-block h3{
		line-height: 20px;
		font-size: 12px;
	}