Options +FollowSymLinks
DirectoryIndex page.php
RewriteEngine on


AddDefaultCharset utf-8

RewriteBase /kaktus/
RewriteRule ^(.*)page-(.*)\.html$ $1page.php?issue_id=$2
RewriteRule ^(.*)portfolio-(.*)\.html$ $1portfolio.php?issue_id=$2
RewriteRule ^(.*)\.html$ $1.php
