*{
	font-family:Arial, Helvetica, sans-serif;
	color:#111c00;
	font-size:12px;
	line-height:15px;}
	
h1, h2, h3, h4, h5, h6{
	color:#767676;
	font-weight:bold;
	margin:30px 0px 15px;}
h2{
	font-size:23px;}
h1{
	font-size:24px;
	line-height:25px;}
h3{
	font-size:21px;
	line-height:22px;}
h4{
	font-size:19px;}
h5{
	font-size:18px;}

span{
	font-weight:bold;}

A{
	text-decoration:underline;}

A:hover{
	cursor:pointer;
	text-decoration:none;}

A IMG{
	border:0px solid #7d7d7d;}

#nalog td, #nalog p, #nalog td strong,#nalog td *{
	 font-size:8pt;}
	 
#nalog td sup, #nalog th sup{
	 font-size:6pt;}
	 
#nalog p{
	margin:0px; 
	padding:0px;}

#nalog td{
	border:0px solid;	
	vertical-align:top;
	padding:5px 15px;
	margin:2px;
	background-color:#f1f2f6;}
	
	#nalog td strong, #nalog td A{
		color:#bb0000;}
	
	
	#nalog td h2{
		font-size:10pt; 
		text-align:center;}

#nalog th, #nalog th {
	border:0px solid;
	padding:3px 5px;
	background-color:#d8dbe5;
	color:#636262;
	vertical-align:center;}

	#nalog th *{
		color:#636262;}