.article-menu {
	  width: 170px;
    overflow: hidden;
  	padding: 150px 0;
	  list-style: none;
}

.article-menu__item {
  	overflow: hidden;
  	width: 290px;
	  height: 50px;
    margin-left: -170px;
  	margin-bottom: 5px;
  	cursor: pointer;
    /* hover off effect */
    -webkit-transition: margin-left 100ms;
    transition: margin-left 100ms;
}

.article-menu__item:hover {
  margin-left: 0;
  -webkit-transition: margin-left 200ms;
  transition: margin-left 200ms;
}

.article-menu__item:before { /* decorative item */
	  content: "";
    display: block;
    float: left;
    clear: none;
    width: 45px;
    height: 50px;
    background-image: -webkit-linear-gradient(right, rgba(93, 255, 128, 0.5), rgba(93, 255, 128, 0));
}

.article-menu__link { /* the link will be shown after hover to name */
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    float: right;
    clear: none;
    width: 120px;
    height: 50px;
    padding: 10px 10px 10px 20px;
    line-height: 30px;
    margin: 0;
    background-color: rgba(93, 255, 128, 0.5);
    color: #202826;
    border-radius: 0 5px 5px 0;
}

.article-menu__name { /* hoverable name. will be replaced with link */
  	display: block;
  	box-sizing: border-box;
    float: right;
    clear: none;
    width: 120px;
    height: 50px;
    padding: 10px 10px 10px 20px;
    line-height: 30px;
    margin: 0;
  	background: rgba(0, 0, 0, 0.4);
  	border-radius: 0 5px 5px 0;
  	color: #57d574;
}
