.contact-form {
	position: relative;
}

.contact-form__toggle-link { /* link to show/hide contact form */
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px 10px;
	float: right;
}

.contact-form__inner {
	width: 800px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0 400px 0 400px;
	padding: 10px 300px 10px 180px;
	box-sizing: border-box;
	position: relative;
	right: -230px;
}

.contact-form__form {
}

.contact-form__required-label {
	position: absolute;
	top: 20px;
	left: 30px;
}

.contact-form__btn {
	position: relative;
	left: 95px;
}
