.contact-form {
	position: relative;
	margin-bottom: 100px;
}

/* TODO add closing */
.contact-form.opened .contact-form__inner {
	margin-right: -130px;
	transition: margin-right 400ms;
	-webkit-transition: margin-right 400ms;
}

.contact-form.opened .contact-form__toggle-link {
	transform: rotate(0);
	transition: transform 400ms;
	-webkit-transition: transform 400ms;
}

.contact-form__toggle-link { /* link to show/hide contact form */
	background-color: #000000;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	padding: 15px 20px;
	float: right;
	font-size: 15px;
	transform: rotate(90deg);
	transition: transform 400ms;
	transform-origin: 100% 0;
	-webkit-transition: transform 400ms;
}

.contact-form__inner {
	width: 800px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0 400px 0 400px;
	padding: 10px 300px 10px 180px;
	box-sizing: border-box;
	position: relative;
	right: -120px;
	margin-right: -800px;
	transition: margin-right 100ms;
	-webkit-transition: margin-right 100ms;
}

.contact-form__inner.opened {
	margin-right: -130px;
	transition: margin-right 400ms;
	-webkit-transition: margin-right 400ms;
}

.contact-form__form {
}

.contact-form__required-label {
	position: absolute;
	top: 20px;
	left: 30px;
}

.contact-form__btn {
	position: relative;
	left: 95px;
}
