/******** TODO ********/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Archangelsk';
  src: url(../fonts/Archangelsk.ttf);
}

html {
  background: -webkit-radial-gradient(40% 5%, farthest-corner, #418a2e, #305927 15%, #223323 35%, #0e150e 100%);
  background: radial-gradient(farthest-corner at 40% 5%, #418a2e, #305927 15%, #223323 35%, #0e150e 100%);
  background-repeat: no-repeat;
  min-height: 100%;
  position: relative;
}



body {

  position: relative;
	color: #fff;
  font-family: Archangelsk, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background: -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 2px, rgba(255, 255, 255, 0.05) 3px);
  background: repeating-linear-gradient(left, rgba(0, 0, 0, 0.0.5), rgba(0, 0, 0, 0.05) 2px, rgba(255, 255, 255, 0.05) 3px);
  background-size: 3px 100%;
  background-repeat: repeat;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

body:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg-canvas2.png) repeat center top;
  opacity: 0.2;
  background-size: 400px auto;

}



.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Archangelsk';
}

a {
  color: #57D574;
  text-decoration: underline;
}

hr {
  background-color: #328F49;
  height: 1px;
  border: none;
}

p {
  margin-bottom: 15px;
}

strong, span {
  color: #57D574;
}



#bg-img {
  position: relative;
  z-index: 15;
  overflow: hidden;
  clear: none;
  min-height: 100%;

  border: 0px solid black;
}

#bg-img:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg-canvas2.png) repeat center top;
  opacity: 0.1;
  background-size: 403px auto;
}

#bg-img > div {

}

#loading_page {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  background: #000 url(../images/loader.gif) no-repeat center center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.7;
  -moz-opacity: 0.7;
  -webkit-opacity: 0.7;
  -khtml-opacity: 0.7;
}
/******** END TODO ********/


/*==============text container=============*/
.text-conteiner {
    position: relative;
    z-index: 30;
    width: 50%;
    min-width: 600px;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.text-conteiner__inner {
    height: 250px;
    line-height: 15px;
    color: #328f49;
    font-family: Futura, Arial;
    overflow: auto;
    padding-right: 20px;
}

/* custom scrollbar */
.text-conteiner__inner::-webkit-scrollbar-track {
    background-color: #000000;
}

.text-conteiner__inner::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

.text-conteiner__inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #33cc66;
    opacity: 0.6;
}

/*==============top menu=================*/
.top-navigation {
  margin: 0 auto 100px;
  z-index: 50;
  width: 900px;
}

/*==============sidebar menu=============*/
.sidebar-navigation  {
  position: absolute;
  z-index: 40;
  top: 0px;
  background-image: -webkit-radial-gradient(50% 50%, closest-side, #43b05c 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background-image: radial-gradient(closest-side at 50% 50%, #43b05c 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

/*=======sidebar contact form=============*/
.sidebar-contact-form {
  overflow: hidden;
  position: absolute;
  z-index: 40;
  top: 20px;
  right: 0;
}

/*==============copyright=================*/
.copyright {
  position: absolute;
  left: 10%;
  bottom: 0;
  z-index: 10;
  width: 170px;
  height: 70px;
  padding: 79px 10px 20px 55px;
	border: 0px solid red;
	color: #57D574;
  font-size: 10px;
  font-family: Futura, Arial;
  background-image: -webkit-linear-gradient(-45deg, rgba(18, 54, 23, 0.4) 100px, rgba(18, 54, 23, 0.1));
  border-radius: 120px 0px 80px 0px;
  box-shadow: -3px -3px 6px 2px rgba(18, 54, 23, 0.4), 3px 3px 20px 2px rgba(18, 54, 23, 0.1);
}

.copyright:after{ /* decorative background */
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  border-radius: 130px 0px 140px 0px;
  width: 235px;
  height: 120px;
  background-image: -webkit-linear-gradient(-15deg, rgba(62, 185, 80, 1) 20px, rgba(62, 185, 80, 0.5) 90px, rgba(62, 185, 80, 0));
}
