<html>
    <head>
        <title>Message from KAKTUS</title>
    </head>
    <body>
        <h1 style="color:#469b5a; font-size: 18px; margin-bottom: 20px;">Сообщение с KAKTUS</h1>
        <table cellpadding="0" cellspacing="0" width="50%" style="margin-bottom: 30px;">
            <tr>
                <td style="color:#469b5a; padding: 10px; border-top: 1px solid #469b5a;" align="left">&nbsp;<b>Имя</b>&nbsp;</td>
                <td align="center" style="color:#469b5a; padding: 10px; border-top: 1px solid #469b5a;">&nbsp;'.$_REQUEST['name'].'&nbsp;</td>
            </tr>
            <tr>
                <td style="color:#469b5a; padding: 10px;" align="left">&nbsp;<b>E-mail</b>&nbsp;</td>
                <td align="center" style="color:#469b5a; padding: 10px;">&nbsp;'.$_REQUEST['email'].'&nbsp;</td>
            </tr>

            <tr>
                <td style="color:#469b5a; padding: 10px; border-bottom: 1px solid #469b5a;" align="left">&nbsp;<b>Сообщение</b>&nbsp;</td>
                <td align="center" style="color:#469b5a; padding: 10px; border-bottom: 1px solid #469b5a;">&nbsp;'.$_REQUEST['message'].'&nbsp;</td>
            </tr>
        </table>
    </body>
</html>
