body{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: White;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
img{
	border: 0px;
	padding: 0px 0px 0px 0px;
}
h1{
	color: #398EAD;
	font-size: 16pt;
}
h2{
	color: #398EAD;
	font-size: 14pt;
}
h3{
	color: #398EAD;
	font-size: 12pt;
}
h4{
	color: #398EAD;
	font-size: 10pt;
}
h5{
	color: #398EAD;
	font-size: 8pt;
}
h6{
	color: #398EAD;
	font-size: 6pt;
}
